.vscode/c_cpp_properties.json
.vscode/ipch/dcf6ce67677d998c/VESC_COMM.ipch
.vscode/ipch/cb8fb95eaa4108f4/SOFTWARESERIAL.ipch
.vscode/ipch/b497820b3cfe2a03/MONITOR.ipch
.vscode/ipch/8ebc871fd2f02c2f/VESC_COMMS_TEST.ipch
.vscode/ipch/41261015c530ec96/SOFTWARESERIAL.ipch
.vscode/ipch/1eeb94e39220dc51/MONITORSTICK.ipch
*.ipch
